.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.album-card {
  position: relative;
  width: 200px;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.album-card img {
  width: 100%;
  border-radius: 8px;
}

.album-info {
  margin-top: 10px;
}

.album-info span {
  display: block;
  color: #888;
}

.album-info h3 {
  margin: 5px 0 0;
  font-size: 18px;
  color: #333;
}
